{% include "navbar.html" %}
<div class="container">
        <div class="jumbotron">
            <h1>ABOUT US</h1>
            <p>WE CREATED THIS STARTUP ON 2ND MARCH, 2019</p>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <p>THIS SITE AIMS TO HELP MEMBERS TO EFFICIENTLY MANAGE THEIR STOCK PORTFOLIOS, BY PROVIDING THEM WITH 
            EXPERT INSIGHTS INTO THE MARKET BY THE WAY OF OUR STATE-OF-THE-ART MACHINE LEARNING ALGORITHMS.
            </p>
        </div>
    </div>
