{% include "navbar.html" %}

<div class="row">
  <div style="text-align: center">
    <P style="text-align: center;color:azure;font-size: 22px">HOUSING PRICES OF VARIOUS INDIAN CITIES</P>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="img-responsive img-fluid">
        <img src="/static/img/Mumbai.png" alt="Mumbai" style="margin:10px 25%;">
      </div>
    </div>
    <div class="col-lg-12">
      <div class="img-responsive img-fluid">
        <img src="/static/img/Pune.png" alt="Pune" style="margin:10px 25%;">
      </div>
    </div>
    <div class="col-lg-12">
      <div class="img-responsive img-fluid">
        <img src="/static/img/Hyderabad.png" alt="Hyderabad" style="margin:10px 25%;">
      </div>
    </div>
    <div class="col-lg-12">
        <div class="img-responsive img-fluid">
          <img src="/static/img/Nagpur.png" alt="Hyderabad" style="margin:10px 25%;">
        </div>
    </div>
    <div class="col-lg-12">
        <div class="img-responsive img-fluid">
          <img src="/static/img/Hyderabad.png" alt="Hyderabad" style="margin:10px 25%;">
        </div>
      </div>
  </div>
</div>
